# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/*.factory.bin
/*.ota.bin

# Python cache
__pycache__/
*.pyc
*.pyo

# Third-party components (downloaded via script)
esphome/components/voice_assistant_websocket/esp_websocket_client.c
esphome/components/voice_assistant_websocket/esp_websocket_client.h
esphome/components/voice_assistant_websocket/esp_websocket_client/
